.background_main{
    height: 850px;
    background: url('../img/main_bg.png')  no-repeat center center;
}

.background_manufacturers-scheme-faq{
    height: 2956px;
    background: url('../img/background_manufacturers-scheme-faq.png')  no-repeat center center;
}